<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1 class="tac">Welcome to Blog App</h1>
  <div class="container tac">
    <a href="/articles">
      <button>View All Articles</button>
    </a>
    <a href="/articles/new">
      <button>Add Article</button>
    </a>
  </div>
</body>
</html>